body{
  background-color: #D9D7D7;
  padding:50px 0px 0px 0px;
  z-index:0;
}

.jumbotron,footer{
  background: #2C4459;
  color: floralwhite;

}

.row-space{
  margin-top:70px;
  margin-bottom: 50px;
}

.navbar{
 background-color: #1D2F40 !important;
  
}