body{
  background-color: #D9D7D7;
  padding:50px 0px 0px 0px;
  z-index:0;
}

.jumbotron,.footer{
  background: #2C4459;
  color: floralwhite;

}

.row-space{
  margin-top:70px;
  margin-bottom: 50px;
}

.navbar{
 background-color: #1D2F40 !important;
}

#footer-padding{
  padding-top: 30px;
}
.card-header,.thead-custom{
  background-color: #1D2F40 !important;
  color: white
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}